@page
@model ProjetoWeb2.Pages.Disciplinas.IndexModel

@{
    ViewData["Title"] = "Disciplinas";
}

<h1>Disciplinas</h1>

<p>
    <a asp-page="Create">Criar Nova</a>
</p>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina[0].Periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina[0].Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina[0].Dificuldade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina[0].Creditos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina[0].HoraAula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina[0].HoraRelogio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina[0].qtdTeorica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina[0].qtdPratica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina[0].Ementa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Disciplina) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dificuldade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creditos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraAula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraRelogio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtdTeorica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtdPratica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ementa)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
