@page
@model ProjetoWeb2.Pages.PreRequisitos.IndexModel

@{
    ViewData["Title"] = "Pre Requisitos";
}

<h1>Pre Requisitos</h1>

<p>
    <a asp-page="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PreRequisito[0].Disciplina_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreRequisito[0].Disciplina_Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreRequisito[0].Requisitos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreRequisito[0].Creditos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreRequisito[0].Periodo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PreRequisito) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina_Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requisitos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creditos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
